@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes push-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: none;
    }
}

.animate-push-up {
    animation: push-up 1.5s forwards;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}